## CRYPTO WALLETS (Crypto Sample to be sent in separate email)
Please open the detail for each of the Crypto Coin Types; BTC and ETH. This is a sample of deposits and payments for the period of January 2023.

PARAMETER DESCRIPTIONS

- Transaction ID: identifies the unique transaction
- Provider Date: indicates the date and time of the transaction
- Amount: transaction amount credited to the customer in USD
- Currency: currency of the transaction credited to the customer (all customer credits are in USD)
- Transaction Status: status of the transaction – all should be approved
- Transaction Type: indicates whether the transaction is a deposit or payout
- Fee: indicates any applicable fees on the transaction
- TYPE: indicates Crypto coin type
- CryptoAmount: indicates the crypto value at time of transaction
- BuyRate: indicates the conversion rate used at the time of transaction

QUESTIONS

If the balance of the wallets were as indicated below as at Dec.31, 2022 please confirm:

1. Calculated Balance of each wallet as at Jan.31, 2023
2. Calculate the revaluation of the USD balance of each wallet (FX loss or gain)
3. Prepare a graph to show the daily volumes and average conversion rates per day for each coin type.
    - Comment on any anomalies

## imports

In [1]:
import pandas as pd

## load data from excel

In [40]:
btc_deposits = pd.read_excel('excel_files/Crypto_Sample_BTC.xlsx')
eth_deposits = pd.read_excel('excel_files/Crypto_Sample_ETH.xlsx')
crypto_deposits = pd.concat([btc_deposits, eth_deposits])
columns = ['tx_id', 'datetime', 'amount', 'currency', 'status', 'tx_type', 'fee', 'symbol', 'crypto_amount', 'buy_rate']
crypto_deposits.columns = columns
crypto_deposits = crypto_deposits.set_index('datetime').sort_values(by=['datetime'], ascending=True)
crypto_deposits.loc[crypto_deposits['tx_type'] == 'PAYOUT', ['amount', 'crypto_amount']] *= -1
crypto_deposits

,tx_id,amount,currency,status,tx_type,fee,symbol,crypto_amount,buy_rate
datetime,,,,,,,,,
2023-01-01 00:02:54,48032432,49.90,USD,APPROVED,DEPOSIT,1.74,ETH,0.041833,1192.839616
2023-01-01 00:03:00,48041035,2000.21,USD,APPROVED,DEPOSIT,0.00,BTC,0.120000,16344.060000
2023-01-01 00:03:00,48041067,849.85,USD,APPROVED,DEPOSIT,0.00,BTC,0.050000,16341.360000
2023-01-01 00:03:00,48041048,-715.00,USD,APPROVED,PAYOUT,0.00,BTC,-0.040000,17875.000000
2023-01-01 00:03:00,48041062,410.97,USD,APPROVED,DEPOSIT,0.00,BTC,0.020000,16341.360000
...,...,...,...,...,...,...,...,...,...
2023-01-31 23:55:00,48992750,56.46,USD,APPROVED,DEPOSIT,0.00,BTC,0.002441,23131.760079
2023-01-31 23:55:00,48992701,47.01,USD,APPROVED,DEPOSIT,0.00,BTC,0.002031,23143.612491
2023-01-31 23:57:50,48984745,110.00,USD,APPROVED,DEPOSIT,3.85,ETH,0.069449,1583.904710
2023-01-31 23:57:50,48984721,94.14,USD,APPROVED,DEPOSIT,3.29,ETH,0.059399,1584.893230
2023-01-31 23:58:30,48984780,99.86,USD,APPROVED,DEPOSIT,3.49,ETH,0.063077,1583.221600

## 1. Calculated Balance of each wallet as at Jan.31, 2023

In [126]:
crypto_tx_jan23 = crypto_deposits.groupby('symbol')[['crypto_amount', 'amount']].sum()
crypto_tx_jan23 = crypto_tx_jan23.reset_index()
crypto_tx_jan23

  symbol  crypto_amount       amount
0    BTC    1021.466582  22383668.79
1    ETH     651.349450    893801.09

In [127]:
crypto_deposits['crypto_amount_recalculated'] = crypto_deposits['amount'] / crypto_deposits['buy_rate']
crypto_deposits['check'] = (crypto_deposits['crypto_amount_recalculated'] - crypto_deposits['crypto_amount']).round(6)
crypto_deposits['usd_difference'] = crypto_deposits['check'] * crypto_deposits['buy_rate']

crypto_tx_jan23_recalculated = crypto_deposits.groupby('symbol')[['crypto_amount_recalculated', 'amount']].sum()
crypto_tx_jan23_recalculated = crypto_tx_jan23_recalculated.reset_index()
crypto_tx_jan23_recalculated

  symbol  crypto_amount_recalculated       amount
0    BTC                 1077.888632  22383668.79
1    ETH                  651.476703    893801.09

In [128]:
crypto_balance_dec22 = {'symbol':['BTC', 'ETH'],
                        'crypto_amount':[30.88890835, 62.29934006],
                        'amount':[714194.50, 98633.66]}
crypto_balance_dec22 = pd.DataFrame(crypto_balance_dec22)
crypto_balance_dec22

  symbol  crypto_amount     amount
0    BTC      30.888908  714194.50
1    ETH      62.299340   98633.66

In [129]:
crypto_balance_jan23 = crypto_balance_dec22.copy()
crypto_balance_jan23['crypto_amount'] = crypto_balance_dec22['crypto_amount'] + crypto_tx_jan23['crypto_amount']
crypto_balance_jan23['amount'] = crypto_balance_dec22['amount'] + crypto_tx_jan23['amount']
crypto_balance_jan23['rate'] = crypto_balance_jan23['amount'] / crypto_balance_jan23['crypto_amount']
crypto_balance_jan23

  symbol  crypto_amount       amount          rate
0    BTC     1052.35549  23097863.29  21948.726928
1    ETH      713.64879    992434.75   1390.648683

In [131]:
crypto_balance_jan23_recalculated = crypto_balance_dec22.copy()
crypto_balance_jan23_recalculated['crypto_amount'] = crypto_balance_dec22['crypto_amount'] + crypto_tx_jan23_recalculated['crypto_amount_recalculated']
crypto_balance_jan23_recalculated['amount'] = crypto_balance_dec22['amount'] + crypto_tx_jan23_recalculated['amount']
crypto_balance_jan23_recalculated['rate'] = crypto_balance_jan23_recalculated['amount'] / crypto_balance_jan23_recalculated['crypto_amount']
crypto_balance_jan23_recalculated

  symbol  crypto_amount       amount          rate
0    BTC    1108.777540  23097863.29  20831.828257
1    ETH     713.776043    992434.75   1390.400756

## 2. Calculate the revaluation of the USD balance of each wallet (FX loss or gain)

## 3. Prepare a graph to show the daily volumes and average conversion rates per day for each coin type

## other calculations